{
    "env": {
        "development": {
            "presets": [["es2015", { "modules": false }]],
            "plugins": ["external-helpers"]
        },
        "test": {
            "presets": ["es2015"]
        }
    }
}
